<style>
    .f-cb {
        zoom: 1;
    }

    .f-cb:after {
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        content: ".";
    }

    .m-sku li {
        line-height: 28px;
        float: left;
        position: relative;
        margin: 0 4px 4px 0;
        vertical-align: middle;
        padding: 1px;
    }

    .m-sku li span {
        float: left;
        cursor: pointer;
        background-color: #fff;
        white-space: nowrap;
        width: auto!important;
        min-width: 10px;
        padding: 0 9px;
        text-align: center;
        border: 1px solid #b8b7bd;
        color: #000;
        text-decoration: none;
    }

    .m-sku li span.js-seleted {
        border: 2px solid #219E91;
        margin: -1px;
    }

    .m-sku li span.js-disabled {
        border: 1px dashed #D6D6D8;
        color: #CDCDCD;
    }

    li {
        list-style: none;
    }

</style

<div class="horizontal-scroll">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <td width="15%">地区</td>
                    <td width="85%">
                        <div class="r-col">
                            <ul class="m-sku f-cb">
                                <li><span ng-class="{'js-seleted': true}" ng-click="">全部</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">街道1</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">街道2</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">街道3</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">街道4</span></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td>
                        <div class="r-col">
                            <ul class="m-sku f-cb">
                                <li><span ng-class="{'js-seleted': true}" ng-click="">全部</span></li>
                                <li><span ng-class="{'js-disabled':true}" ng-click="">高职</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">高中</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">初中</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">小学</span></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>学校</td>
                    <td>
                        <div class="r-col">
                            <ul class="m-sku f-cb">
                                <li><span ng-class="{'js-seleted': true}" ng-click="">全部</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">学校1</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">学校2</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">学校3</span></li>
                                <li><span ng-class="{'js-disabled': true}" ng-click="">学校4</span></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>精确搜索</td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control with-primary-addon" placeholder="搜索学生学籍号">
                            <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">查询</button>
                                </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-->

    <table class="table" st-table="smartTableData">
        <thead>
            <th></th>
            <th>学籍号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>表彰信息</th>
            <th>成绩评估</th>
            <th>德育评估</th>
            <th>智育评估</th>
            <th>体育评估</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in smartTableData">
                <td class="table-id">{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                <td>{{item.age}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td>{{item.age}}</td>
            </tr>
        </tbody>
        <tfoot>
           
            <tr>
                <td colspan="4">

                    <label>共{{total}}条数据  每页显示
                                <select ng-model="pageSize" ng-change="pageSizeChanged()">
                                        <option value="5" ng-selected = "1">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        </select>  条
                                            </label>

                </td>

                <tr colspan="6">
                        <ul uib-pagination ng-change="pageChanged()" total-items="80" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="<<" last-text=">>" next-text=">" previous-text="<"></ul>
                </tr>
            </tr>
            
        </tfoot>
        
    </table>

</div>