<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span>添加用户</span>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <span>基本信息</span>
                </div>
                <div class="form-group">
                    <span class="page-items">账号：</span>
                    <input type="text" class="user-form-control" ng-model="user.account">
                    <span class="user-form-red">*</span>
                </div>
                <div class="form-group">
                    <span class="page-items">密码：</span>
                    <input type="password" class="user-form-control" ng-click="defaultPassword=!defaultPassword" ng-model="user.password">
                    <span class="user-form-red">*</span>
                    <label class="radio-inline custom-radio nowrap">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-model="defaultPassword" ng-click="user.password=123456">
                        <span>默认</span>
                    </label>
                </div>
                <div class="form-group">
                    <span class="page-items">昵称：</span>
                    <input type="text" class="user-form-control" ng-model="user.username">
                    <span class="user-form-red">*</span>
                </div>
                <div class="form-group">
                    <span class="page-items">区域：</span>
                    <select class="user-form-control" ng-model="user.area" ng-options="area.datavalue for area in areas"></select>
                </div>
                <div class="form-group">
                    <span class="page-items">机构：</span>
                    <select class="user-form-control" ng-model="user.organ" ng-options="organ.organName for organ in organs track by organ.organName"></select>
                </div>
                <div class="form-group">
                    <span class="page-items">部门：</span>
                    <select class="user-form-control" ng-model="user.depart" ng-options="depart.departName for depart in departs"></select>
                </div>
                <div class="form-group">
                    <span class="page-items">岗位：</span>
                    <select class="user-form-control" ng-model="user.post" ng-options="post.postName for post in posts"></select>
                </div>
            </div>
            <div class="col-md-6 left-line">
                <div class="form-group text-center">
                    <span>权限设置</span>
                </div>
                <div class="form-group" ng-repeat="menu in menus">
                    <span class="page-items">{{ menu.name }}</span>
                    <div class="user-form-check">
                        <label class="user-form-width" ng-repeat="submenu in menu.submenus track by $index">
                            <input type="checkbox" id="{{submenu.id}}" name="{{submenu.name}}" ng-click="selectMenu(submenu.id)">
                            <span>{{ submenu.name }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$dismiss()">取消</button>
        <button type="button" class="btn btn-info" ng-click="$close('OK')">提交</button>
    </div>
</div>