<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <table class="table table-hover" yw-safe-src="userList" yw-table="displayed">
                        <thead>
                            <tr>
                                <th></th>
                                <th><input yw-search="account" placeholder="搜索帐号" class="input-sm form-control search-input"
                                        type="search" /></th>
                                <th><input yw-search="username" placeholder="搜索昵称" class="input-sm form-control search-input"
                                        type="search" /></th>
                                <th><input yw-search="organName" placeholder="搜索机构" class="input-sm form-control search-input"
                                        type="search" /></th>
                                <th><input yw-search="departName" placeholder="搜索部门" class="input-sm form-control search-input" type="search"
                                    />
                                </th>
                                <th><input yw-search="postName" placeholder="搜索岗位" class="input-sm form-control search-input" type="search"
                                    />
                                </th>
                                <th>
                                    <div><button type="button" class="btn btn-info" ng-click="addUser()">添加</button></div>
                                </th>
                            </tr>
                            <tr class="sortable ">
                                <th class="table-id" yw-sort="id" yw-sort-default="true">#</th>
                                <th yw-sort="account">账号</th>
                                <th yw-sort="username">昵称</th>
                                <th yw-sort="organName">机构</th>
                                <th yw-sort="departName">部门</th>
                                <th yw-sort="postName">岗位</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayed">
                                <td class="table-id">{{item.id}}</td>
                                <td>{{item.account}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.organName}}</td>
                                <td>{{item.departName}}</td>
                                <td>{{item.postName}}</td>
                                <td>
                                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                        <button type="button" class="btn btn-info " uib-dropdown-toggle>
                                                  操作 <span class="caret"></span>
                                                </button>
                                        <ul uib-dropdown-menu>
                                            <li><a ng-click="">编辑</a></li>
                                            <li><a ng-click="deleteUser(item)">删除</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-center">

                                    <div style="float: left">
                                        <span class="page-items">共{{totalItems}}条&nbsp&nbsp每页显示&nbsp</span>
                                        <select class="page-size" title="Rows on page" ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes" ng-change="changePageSize(pageSize)"></select>
                                        <span class="page-items">&nbsp条</span>
                                    </div>
                                    <div yw-pagination="" yw-total-items="totalItems" yw-items-by-page="pageSize" yw-displayed-pages="5" yw-page-change="pageChange(newPage)" yw-template="app/pages/common/pagination.html"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>