# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
data/
**/target/
/.vscode/
ggs-webapp/app/bower_components/**
ggs-webapp/app/node_modules/**
ggs-webapp/app/src/bower_components/**
ggs-webapp/app/.tmp/**
ggs-webapp/app/static/**
#/ggs-webapp/src/main/resources/application.properties
/ggs-dal/src/test/java/generatorConfig.xml
#/ggs-service/src/test/resources/application.properties
*.DS_Store
