<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-class="with-scroll">
                <div class="horizontal-scroll">
                    <table class="table table-bordered ">
                        <tbody>
                            <tr>
                                <td width="15%">地区</td>
                                <td width="85%">
                                    <div ng-class="{'hotel-filter-list':true,'filter-list-has-more':true,'hotel-filter-list-min':isShowMoreRegion}"><strong class="tit"></strong>
                                        <div class="con radio">
                                            <ul class="list">
                                                <li ng-repeat="type in regions" ng-click="onRegionChanged(type.bizcode)"><a ng-class="{true:'filter-tag selected',false:'filter-tag'}[type.bizcode==curRegion]">{{type.datavalue}}<i></i></a></li>
                                            </ul>
                                            <span class="filter-more">
															<span class="filter-open"  ng-click="showMoreRegion(false)">更多</span>
                                            <span class="filter-close" ng-click="showMoreRegion(true)">收起</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>类型</td>
                                <td>
                                    <div ng-class="{'hotel-filter-list':true,'filter-list-has-more':true,'hotel-filter-list-min':isShowMoreSchoolType}"><strong class="tit"></strong>
                                        <div class="con radio">
                                            <ul class="list">
                                                <li ng-repeat="type in schoolTypes" ng-click="onSchoolTypeChanged(type.bizcode)"><a ng-class="{true:'filter-tag selected',false:'filter-tag'}[type.bizcode==curSchoolType]">{{type.datavalue}}<i></i></a></li>
                                            </ul>
                                            <span class="filter-more">
															<span class="filter-open"  ng-click="showMoreSchoolType(false)">更多</span>
                                            <span class="filter-close" ng-click="showMoreSchoolType(true)">收起</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ul-center">精确搜索</div>
                                </td>
                                <td>
                                    <form class="row form-inline ul-center">
                                        <div class="form-group col-sm-6 col-xs-6">
                                            <input type="text" class="form-control" ng-model="schoolName" placeholder="搜索学校名称" />
                                        </div>
                                        <div class="form-group col-sm-3 col-xs-6">
                                            <button type="submit" class="btn btn-primary" ng-click="querySchoolInfo(schoolName)">查询</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <table class="table" yw-safe-src="schoolList" yw-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th class="table-id" yw-sort="id" yw-sort-default="true">#</th>
                                <th yw-sort="name">学校名称</th>
                                <th yw-sort="areaname">学校地区</th>
                                <th yw-sort="schoolname">学校类型</th>
                                <th yw-sort="lastName">学校获奖统计</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in displayed">
                                <td class="table-id">{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.areaname}}</td>
                                <td>{{item.schoolname}}</td>
                                <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
                                <td>
                                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                        <button type="button" class="btn btn-info " uib-dropdown-toggle>
                                                  操作 <span class="caret"></span>
                                                </button>
                                        <ul uib-dropdown-menu>
                                            <li ng-click="openDetail(item)"><a href>详细</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div style="float: left">
                                        <span class="page-items">共{{totalItems}}条&nbsp&nbsp每页显示&nbsp</span>
                                        <select class="page-size" title="Rows on page" ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes" ng-change="changePageSize(pageSize)"></select>
                                        <span class="page-items">&nbsp条</span>
                                    </div>
                                    <div yw-pagination="" yw-total-items="totalItems" yw-items-by-page="pageSize" yw-displayed-pages="5" yw-page-change="pageChange(newPage)"
                                        yw-template="app/pages/common/pagination.html"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>