.content-top {
  // padding-top: 13px;
  // padding-bottom: 27px;
  z-index: 2;
  position: relative;
  width: 100%;
  min-height: 51px;
  padding: 8px 32px 8px 40px;
  background: #fafafa;
  border-bottom: 1px solid #e0e0e0;
}

h1.al-title {
  font-weight: $font-bold;
  color: $default-text;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  opacity: 0.9;
}

.al-breadcrumb {
  background: none;
  color: $default-text;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  li {
    font-size: 18px;
    font-weight: $font-normal;
  }
}

.al-look {
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  > a {
    font-size: 19px;
  }
}