<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.chicken.ggs.dal.dao.AwardSchoolMapper" >
  <resultMap id="BaseResultMap" type="io.chicken.ggs.dal.model.AwardSchool" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appraisecode" property="appraisecode" jdbcType="VARCHAR" />
    <result column="awardcode" property="awardcode" jdbcType="VARCHAR" />
    <result column="schoolcode" property="schoolcode" jdbcType="VARCHAR" />
    <result column="schoolquota" property="schoolquota" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appraisecode, awardcode, schoolcode, schoolquota, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from award_school
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from award_school
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.chicken.ggs.dal.model.AwardSchool" >
    insert into award_school (id, appraisecode, awardcode, 
      schoolcode, schoolquota, remark, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{appraisecode,jdbcType=VARCHAR}, #{awardcode,jdbcType=VARCHAR}, 
      #{schoolcode,jdbcType=VARCHAR}, #{schoolquota,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertCollection" >
    insert into award_school ( appraisecode, awardcode,
    schoolcode, schoolquota, remark,
    create_time)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.appraisecode},
      #{item.awardcode},
      #{item.schoolcode},
      #{item.schoolquota},
      #{item.remark},
      #{item.createTime}
      )
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="io.chicken.ggs.dal.model.AwardSchool" >
    insert into award_school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appraisecode != null" >
        appraisecode,
      </if>
      <if test="awardcode != null" >
        awardcode,
      </if>
      <if test="schoolcode != null" >
        schoolcode,
      </if>
      <if test="schoolquota != null" >
        schoolquota,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appraisecode != null" >
        #{appraisecode,jdbcType=VARCHAR},
      </if>
      <if test="awardcode != null" >
        #{awardcode,jdbcType=VARCHAR},
      </if>
      <if test="schoolcode != null" >
        #{schoolcode,jdbcType=VARCHAR},
      </if>
      <if test="schoolquota != null" >
        #{schoolquota,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.chicken.ggs.dal.model.AwardSchool" >
    update award_school
    <set >
      <if test="appraisecode != null" >
        appraisecode = #{appraisecode,jdbcType=VARCHAR},
      </if>
      <if test="awardcode != null" >
        awardcode = #{awardcode,jdbcType=VARCHAR},
      </if>
      <if test="schoolcode != null" >
        schoolcode = #{schoolcode,jdbcType=VARCHAR},
      </if>
      <if test="schoolquota != null" >
        schoolquota = #{schoolquota,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.chicken.ggs.dal.model.AwardSchool" >
    update award_school
    set appraisecode = #{appraisecode,jdbcType=VARCHAR},
      awardcode = #{awardcode,jdbcType=VARCHAR},
      schoolcode = #{schoolcode,jdbcType=VARCHAR},
      schoolquota = #{schoolquota,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>