<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.chicken.ggs.dal.dao.AwardQuotaMapper" >
  <resultMap id="BaseResultMap" type="io.chicken.ggs.dal.model.AwardQuota" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appraisecode" property="appraisecode" jdbcType="VARCHAR" />
    <result column="awardcode" property="awardcode" jdbcType="VARCHAR" />
    <result column="awardquota" property="awardquota" jdbcType="VARCHAR" />
    <result column="quotacontent" property="quotacontent" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appraisecode, awardcode, awardquota, quotacontent, remark, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from award_quota
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from award_quota
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByAppraisecode" parameterType="java.lang.String" >
    delete from award_quota
    where appraisecode = #{appraiseid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="io.chicken.ggs.dal.model.AwardQuota" >
    insert into award_quota (id, appraisecode, awardcode, 
      awardquota, quotacontent, remark, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{appraisecode,jdbcType=VARCHAR}, #{awardcode,jdbcType=VARCHAR}, 
      #{awardquota,jdbcType=VARCHAR}, #{quotacontent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertCollection" >
    insert into award_quota ( appraisecode, awardcode,
    awardquota, quotacontent, remark,
    create_time)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.appraisecode},
      #{item.awardcode},
      #{item.awardquota},
      #{item.quotacontent},
      #{item.remark},
      #{item.createTime}
      )
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="io.chicken.ggs.dal.model.AwardQuota" >
    insert into award_quota
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appraisecode != null" >
        appraisecode,
      </if>
      <if test="awardcode != null" >
        awardcode,
      </if>
      <if test="awardquota != null" >
        awardquota,
      </if>
      <if test="quotacontent != null" >
        quotacontent,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appraisecode != null" >
        #{appraisecode,jdbcType=VARCHAR},
      </if>
      <if test="awardcode != null" >
        #{awardcode,jdbcType=VARCHAR},
      </if>
      <if test="awardquota != null" >
        #{awardquota,jdbcType=VARCHAR},
      </if>
      <if test="quotacontent != null" >
        #{quotacontent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.chicken.ggs.dal.model.AwardQuota" >
    update award_quota
    <set >
      <if test="appraisecode != null" >
        appraisecode = #{appraisecode,jdbcType=VARCHAR},
      </if>
      <if test="awardcode != null" >
        awardcode = #{awardcode,jdbcType=VARCHAR},
      </if>
      <if test="awardquota != null" >
        awardquota = #{awardquota,jdbcType=VARCHAR},
      </if>
      <if test="quotacontent != null" >
        quotacontent = #{quotacontent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.chicken.ggs.dal.model.AwardQuota" >
    update award_quota
    set appraisecode = #{appraisecode,jdbcType=VARCHAR},
      awardcode = #{awardcode,jdbcType=VARCHAR},
      awardquota = #{awardquota,jdbcType=VARCHAR},
      quotacontent = #{quotacontent,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>