<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.chicken.ggs.dal.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="io.chicken.ggs.dal.model.Dictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="biztype" property="biztype" jdbcType="VARCHAR" />
    <result column="bizcode" property="bizcode" jdbcType="VARCHAR" />
    <result column="datavalue" property="datavalue" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="AreaDetailResultMap" type="io.chicken.ggs.common.vo.AreaDetailVO" >
        <id column="areaId" property="areaId" jdbcType="BIGINT" />
        <result column="areacode" property="areacode" jdbcType="VARCHAR" />
        <result column="areaName" property="areaName" jdbcType="VARCHAR" />
      <collection property="organVoList" ofType="io.chicken.ggs.common.vo.OrganVo">
        <result column="organId" property="organId" jdbcType="BIGINT" />
        <result column="organcode" property="organcode" jdbcType="VARCHAR" />
        <result column="organName" property="organName" jdbcType="VARCHAR" />
        <collection property="departVoList" ofType="io.chicken.ggs.common.vo.DepartVo">
              <result column="departId" property="departId" jdbcType="BIGINT" />
              <result column="departcode" property="departcode" jdbcType="VARCHAR" />
              <result column="departName" property="departName" jdbcType="VARCHAR" />
              <collection property="post" ofType="io.chicken.ggs.common.vo.Post">
                    <result column="postId" property="postId" jdbcType="BIGINT" />
                    <result column="postcode" property="postcode" jdbcType="VARCHAR" />
                    <result column="postName" property="postName" jdbcType="VARCHAR" />
              </collection>
        </collection>
      </collection>
    </resultMap>

  <sql id="Base_Column_List" >
    id, biztype, bizcode, datavalue, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=BIGINT}
  </select>


  <select id="queryList" resultType="io.chicken.ggs.dal.model.Dictionary">
    select * from dictionary
    <where>
      <if test="biztype != null">
        and `biztype` = #{biztype}
      </if>
      <if test="bizcode != null">
        and `bizcode` = #{bizcode}
      </if>
    </where>
  </select>

  <select id="queryTotal" resultType="java.lang.Long" >
    select count(1) from dictionary
    <where>
      <if test="biztype != null">
        and `biztype` = #{biztype}
      </if>
      <if test="bizcode != null">
        and `bizcode` = #{bizcode}
      </if>
    </where>
  </select>

    <select id="queryAreaDetail" resultMap="AreaDetailResultMap" parameterType="java.lang.String">
        select d.id areaId, d.bizcode areacode, d.datavalue areaName,
        org.id organId, org.organcode, org.`name` organName,
        dep.id departId, dep.departcode, dep.`name` departName,
        po.id postId, po.postcode, po.`name` postName
        from `dictionary` d
        left join organization org
        on d.bizcode = org.areacode
        left join depart dep
        on org.organcode = dep.organcode
        left join post po
        on dep.departcode = po.departcode
        where
         d.biztype = 'areacode'
        and d.bizcode = #{bizcode};
    </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dictionary
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.chicken.ggs.dal.model.Dictionary" >
    insert into dictionary (id, biztype, bizcode, 
      datavalue, status, remark
      )
    values (#{id,jdbcType=BIGINT}, #{biztype,jdbcType=VARCHAR}, #{bizcode,jdbcType=VARCHAR}, 
      #{datavalue,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.chicken.ggs.dal.model.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="biztype != null" >
        biztype,
      </if>
      <if test="bizcode != null" >
        bizcode,
      </if>
      <if test="datavalue != null" >
        datavalue,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="biztype != null" >
        #{biztype,jdbcType=VARCHAR},
      </if>
      <if test="bizcode != null" >
        #{bizcode,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.chicken.ggs.dal.model.Dictionary" >
    update dictionary
    <set >
      <if test="biztype != null" >
        biztype = #{biztype,jdbcType=VARCHAR},
      </if>
      <if test="bizcode != null" >
        bizcode = #{bizcode,jdbcType=VARCHAR},
      </if>
      <if test="datavalue != null" >
        datavalue = #{datavalue,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.chicken.ggs.dal.model.Dictionary" >
    update dictionary
    set biztype = #{biztype,jdbcType=VARCHAR},
      bizcode = #{bizcode,jdbcType=VARCHAR},
      datavalue = #{datavalue,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>