<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.chicken.ggs.dal.dao.SchoolMapper" >
  <resultMap id="BaseResultMap" type="io.chicken.ggs.dal.model.School" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="schoolcode" property="schoolcode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="areacode" property="areacode" jdbcType="VARCHAR" />
    <result column="areaname" property="areaname" jdbcType="VARCHAR" />
    <result column="schoolname" property="schoolname" jdbcType="VARCHAR" />
    <result column="schooltype" property="schooltype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, schoolcode,areacode, schooltype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
     id, name,schoolcode, areacode, schooltype
    from school
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultType="io.chicken.ggs.dal.model.School">
    select d.*,c.datavalue schoolname  from (select a.*,b.datavalue  areaname  from school  a
    left JOIN dictionary  b  on (a.areacode=b.bizcode )
    where b.biztype='areacode'
    ) d
    LEFT JOIN dictionary  c  on (d.schooltype=c.bizcode)
    <where>
      c.biztype='schootype'
      <if test="schoolcode != null and schoolcode.trim() != ''">
        and `schoolcode` = #{schoolcode}
      </if>
      <if test="areacode != null and areacode.trim() != ''">
        and `areacode` = #{areacode}
      </if>
      <if test="schooltype != null and schooltype.trim() != ''">
        and `schooltype` = #{schooltype}
      </if>
      <if test="name != null and name.trim() != ''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by id asc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>


  <select id="queryListByCondition" resultType="io.chicken.ggs.dal.model.School">
    select d.*,c.datavalue schoolname  from (select a.*,b.datavalue  areaname  from school  a
    left JOIN dictionary  b  on (a.areacode=b.bizcode )
    where b.biztype='areacode'
    ) d
    LEFT JOIN dictionary  c  on (d.schooltype=c.bizcode)
    <where>
      c.biztype='schootype'
      <if test="schoolcode != null and schoolcode.trim() != ''">
        and `schoolcode` = #{schoolcode}
      </if>
      <if test="areacode != null and areacode.trim() != ''">
        and `areacode` = #{areacode}
      </if>
      <if test="schooltype != null and schooltype.trim() != ''">
        and `schooltype` = #{schooltype}
      </if>
      <if test="name != null and name.trim() != ''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>

  </select>

  <select id="queryTotal" resultType="java.lang.Long" >
    select count(1) from school
    <where>
      <if test="schoolcode != null and schoolcode.trim() != ''">
        and `schoolcode` = #{schoolcode}
      </if>
      <if test="areacode != null and areacode.trim() != ''">
        and `areacode` = #{areacode}
      </if>
      <if test="schooltype != null and schooltype.trim() != ''">
        and `schooltype` = #{schooltype}
      </if>
      <if test="name != null and name.trim() != ''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from school
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.chicken.ggs.dal.model.School" >
    insert into school (id, name, schoolcode,areacode,
      schooltype)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},#{schoolcode,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR},
      #{schooltype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.chicken.ggs.dal.model.School" >
    insert into school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="schoolcode != null" >
        schoolcode,
      </if>
      <if test="areacode != null" >
        areacode,
      </if>
      <if test="schooltype != null" >
        schooltype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolcode != null" >
        #{schoolcode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="schooltype != null" >
        #{schooltype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.chicken.ggs.dal.model.School" >
    update school
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolcode != null" >
        schoolcode= #{schoolcode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="schooltype != null" >
        schooltype = #{schooltype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.chicken.ggs.dal.model.School" >
    update school
    set name = #{name,jdbcType=VARCHAR},
      areacode = #{areacode,jdbcType=VARCHAR},
       schoolcode=#{schoolcode,jdbcType=VARCHAR},
      schooltype = #{schooltype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>