<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.chicken.ggs.dal.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="io.chicken.ggs.dal.model.Teacher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="teacherid" property="teacherid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="schoolcode" property="schoolcode" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, teacherid, name, sex, classname, schoolcode,remark
  </sql>
  <select id="queryList" resultType="io.chicken.ggs.dal.model.Student">
    select * from teacher
    <where>
      <if test="name != null and name.trim() != ''">
        and `name` like concat('%',#{name},'%')
      </if>

      <if test="(
      (schoolname != null and schoolname.trim() != '')
      or (areacode != null and areacode.trim() != '')
      or (schooltype != null and schooltype.trim() != '')
      ) ">
        and `schoolcode`in
        (
        select schoolcode from school
        <where>
          <if test="schoolname != null">
            and `name` = #{schoolname}
          </if>
          <if test="areacode != null">
            and `areacode` = #{areacode}
          </if>
          <if test="schooltype != null">
            and `schooltype` = #{schooltype}
          </if>
        </where>
        )
      </if>

    </where>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by teacherid asc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="queryTotal" resultType="java.lang.Long" >
    select COALESCE(count(*),0) from teacher
    <where>
      <if test="name != null and name.trim() != ''">
        and `name` like concat('%',#{name},'%')
      </if>

      <if test="(
      (schoolname != null and schoolname.trim() != '')
      or (areacode != null and areacode.trim() != '')
      or (schooltype != null and schooltype.trim() != '')
      ) ">
        and `schoolcode`in
        (
        select schoolcode from school
        <where>
          <if test="schoolname != null">
            and `name` = #{schoolname}
          </if>
          <if test="areacode != null">
            and `areacode` = #{areacode}
          </if>
          <if test="schooltype != null">
            and `schooltype` = #{schooltype}
          </if>
        </where>
        )
      </if>

    </where>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by teacherid asc
      </otherwise>
    </choose>
    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from teacher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="io.chicken.ggs.dal.model.Teacher" >
    insert into teacher (id, teacherid, name, 
      sex, classname, school_id
      )
    values (#{id,jdbcType=BIGINT}, #{teacherid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.chicken.ggs.dal.model.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teacherid != null" >
        teacherid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="classname != null" >
        classname,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.chicken.ggs.dal.model.Teacher" >
    update teacher
    <set >
      <if test="teacherid != null" >
        teacherid = #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.chicken.ggs.dal.model.Teacher" >
    update teacher
    set teacherid = #{teacherid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>