.page-items {
    width: 100%;
    height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 6px 0px 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
}
.page-size {
    height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 6px 0px 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid #ccc;
    border-radius: 5px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}