.page-items {
    width: 100%;
    height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 6px 0px 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
}
.page-size {
    height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 6px 0px 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    outline: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid #ccc;
    border-radius: 5px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:hover {
        border: 1px solid #209e91;
    }
}

.user-form-control {
    width: 70%;
    height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    outline: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid #ccc;
    border-radius: 5px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:hover {
        border: 1px solid #209e91;
    }
}

.user-form-red {
    color: red !important;
}

.user-form-check {
    padding-left: 20px;
    padding-top: 9px;

    .user-form-width {
        width: 30%;
        font-size: 12px;
    }
}

.left-line {
    border-left: 1px solid #ccc
}